html
	// 取消邊界重疊
	box-sizing: border-box

*, *:before, *:after
	// 繼承取消邊界重疊
	box-sizing: inherit

body
	// 字體顯示優化
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

#app
	// 適應視窗大小
	min-height: 100vh
