// Fix Style
html {
	// 取消邊界重疊
	box-sizing: border-box;
}

*,
*:before,
*:after {
	// 繼承取消邊界重疊
	box-sizing: inherit;
}

body {
	// 字體顯示優化
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	// 適應視窗大小
	min-height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
}

// =================
// Basic Style
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");

body {
	background-color: color(basic-black);
	color: color(basic-white);

	font-family: "Noto Sans TC", serif;
}
#app {
	@include flex();
}

h1 {
	font-size: 36px;
	font-weight: 700;
}
h2 {
	font-size: 24px;
	font-weight: 700;
}
h3 {
	font-size: 14px;
	font-weight: 400;
	opacity: 0.8;
}
th,
tr {
	font-size: 12px;
	font-weight: 400;
}
